{% extends "base.html" %}

{% block content %}
<div>
  <div style="float:left;">
    <label for="classSelect">Выберите отдел товара</label>
  </div>
  <div style="float:left;">
    <select class="form-control" id="classSelect" name="class">
      <option>Мужское</option>
      <option>Женское</option>
      <option>Дети</option>
    </select>
  </div>
  <div style="float:left;">
    <label for="classSelect">Выберите категорию товара</label>
  </div>
  <div style="float:left;">
    <select class="form-control" id="classSelect" name="class">
      <option>Одежда</option>
      <option>Обувь</option>
      <option>Аксессуары</option>
      <option>Другое</option>
    </select>
  </div>
  <div style="float:right;">
    <select class="form-control" id="classSelect" name="class">
      <option>Для</option>
      <option>Каждой</option>
      <option>Категории</option>
      <option>Свой</option>
    </select>
  </div>
  <div style="float:right;">
    <label for="classSelect">Выберите размер</label>
  </div>
  <div style="clear:both;"></div>
</div>
	{% for product in products %}
	    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ product.name }}</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Описание: {{ product.about }}</li>
              <li>Цена: {{ product.price }}</li>
            </ul>
            <a class="w-100 btn btn-lg btn-primary" href="/catalog/product/{{ product.id }}" role="button">Открыть</a>
          </div>
        </div>
      </div>
	{% endfor %}
{% endblock %}
