/* Style */
:root {
  --color1: #2F4F4F;
  --color2: #DCDCDC;
  --bg-color: white;
  --danger-color1: red;
  --danger-color2: pink;
}


title-main {
	background-color: var(--bg-color);
	color: var(--color1);
	font-size: 50px;
}

title-side {
	background-color: var(--bg-color);
	color: var(--color1);
	font-size: 40px;
}

.main-menu {
	background-color: var(--color1);
	padding: 20px 50px;
	font-size: 20px;
	width: 100%;
}

.page {
	padding: 50px 0px;
}

footer {
	position: fixed;
    bottom: 0;
    background-color: var(--color1);
    color: var(--bg-color);
    width: 100%;
   }


/*btn-outline-light */
.btn-outline-light{
	background-color: var(--color1);
    color: var(--bg-color);
    border-color: var(--color1);
    margin: 2px 0px;
}

.btn-outline-light:hover {
	background-color: var(--bg-color);
    color: var(--color1);
    border-color: var(--color1);
}

.btn-outline-light:focus,
.btn-outline-light:not(:disabled):not(.disabled):active{
	background-color: var(--bg-color);
    color: var(--color1);
    border-color: var(--color1);
}


/* btn-primary */
.btn-primary {
	background-color: var(--color1);
    color: var(--bg-color);
    border-color: var(--color1);
    margin: 2px 0px;
}

.btn-primary:hover {
	background-color: var(--bg-color);
    color: var(--color1);
    border-color: var(--color1);
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
	background-color: var(--color1);
    color: var(--bg-color);
    border-color: var(--color1);
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem var(--color2);
}


/* btn-block */
.btn-block {
	background-color: var(--bg-color);
    color: var(--color1);
    border-color: var(--color1);
    margin: 2px 0px;
}

.btn-block:hover,
.btn-block:focus,
.btn-block:not(:disabled):not(.disabled):active {
	background-color: var(--color1);
    color: var(--bg-color);
    border-color: var(--color1);
}

.btn-block:focus,
.btn-block:not(:disabled):not(.disabled):active,
.btn-block:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem var(--color2);
}


/* btn-danger */
.btn-danger {
	background-color: var(--danger-color1);
    color: var(--bg-color);
    border-color: var(--danger-color1);
    margin: 2px 0px;
}

.btn-danger:hover {
	background-color: var(--bg-color);
    color: var(--danger-color1);
    border-color: var(--danger-color1);
}

.btn-danger:focus,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled):active:focus {
	background-color: var(--danger-color1);;
    color: var(--bg-color);
    border-color: var(--danger-color1);
	box-shadow: 0 0 0 0.2rem var(--danger-color2);
}


/* cards */
.card-header{
	color: var(--bg-color);
	border: 1px solid var(--color1);
	background-color: var(--color2);
}

.card-body {
	border: 1px solid var(--color1);
}


/* input */
.form-control {
	margin: 5px 0px;
}


/* image */
.ava {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.product_img {
	object-fit: cover;
    width: 300px;
    height: 300px;
}

.catalog_img {object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100px;
}
