/* Style */
:root {
  --color1: #2F4F4F;
  --color2: #D3D3D3;
  --bg-color: white;
}


.title {
	background-color: var(--bg-color);
	color: var(--color1);
	font-size: 50px;
}

.main-menu {
	background-color: var(--color1);
	padding: 20px 50px;
	font-size: 20px;
	width: 100%;
}

.page {
	padding: 50px 0px;
}

footer {
	margin-top: -50px;
    padding: 50px;
    background-color: var(--color1);
    color: var(--bg-color);
    width: 100%;
   }


/*btn-outline-light */
.btn-outline-light{
	background-color: var(--color1);
    color: var(--bg-color);
    border-color: var(--color1);
}

.btn-outline-light:hover {
	background-color: var(--bg-color);
    color: var(--color1);
    border-color: var(--color1);
}

.btn-outline-light:focus,
.btn-outline-light:not(:disabled):not(.disabled):active{
	background-color: var(--bg-color);
    color: var(--color1);
    border-color: var(--color1);
}


/* btn-primary */
.btn-primary {
	background-color: var(--color1);
    color: var(--bg-color);
    border-color: var(--color1);
}

.btn-primary:hover {
	background-color: var(--bg-color);
    color: var(--color1);
    border-color: var(--color1);
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
	background-color: var(--color1);
    color: var(--bg-color);
    border-color: var(--color1);
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem var(--color2);
}


/* btn-block */
.btn-block {
	background-color: var(--bg-color);
    color: var(--color1);
    border-color: var(--color1);
}

.btn-block:hover,
.btn-block:focus,
.btn-block:not(:disabled):not(.disabled):active {
	background-color: var(--color1);
    color: var(--bg-color);
    border-color: var(--color1);
}

.btn-block:focus,
.btn-block:not(:disabled):not(.disabled):active,
.btn-block:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 0.2rem var(--color2);
}


/* cards */

.card-header{
	color: var(--bg-color);
	border: 1px solid var(--color1);
	background-color: var(--color2);
}

.card-body {
	border: 1px solid var(--color1);
}
