{% extends "base.html" %}

{% block content %}
	<div>
		Сайт выполнен в рамках проекта Яндекс Лицея.
	</div>
	<div>
		Функционал:
		<ul>
			<li>Просмотр товаров</li>
			<li>Покупка товаров (только для зарегистрированных пользователей)</li>
			<li>Добавление товаров (только для зарегистрированных пользователей)</li>
		</ul>
	</div>
	<div>
		Проект был выполнен Максимом Голубевым и Антоном Прытовым
	</div>
	<br>
	<div>
		По вопросам, предложениям и замечаниям пишите на почту:    
		<a class="nav-link" href="mailto:svetlana_shop.info@mail.ru" target="_blank" style="color: var(--color1); padding-left: 0;">
						svetlana_shop.info@mail.ru
		</a>
	</div>

{% endblock %}
