<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet"
          	  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          	  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          	  crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css')}}>
        <title>{{ title }}</title>
	</head>
	<body>
		<header>
			<div><title-side>секондхенд</title-side> <title-main>Светлана</title-main></div>
			<p class="main-menu">
				<span>
					<a class="btn btn-outline-light" href="/">Главная</a>
					<a class="btn btn-outline-light" href="/catalog">Каталог</a>
					<a class="btn btn-outline-light" href="/about">О нас</a>
				</span>
				<span style="float:right;">
					{% if current_user.is_authenticated %}
						<a class="btn btn-outline-light text-right" href="/account">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
		  						<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
							</svg>
						</a>
						<a class="btn btn-outline-light text-right" href="/cart">
							<svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-cart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
							</svg>
						</a>
						<a class="btn btn-outline-light text-right" href="/exit">
							Выйти
						</a>
					{% else %}
						<a class="btn btn-outline-light text-right" href="/login">Вход</a>
						<a class="btn btn-outline-light text-right" href="/logup">Регистрация</a>
					{% endif %}
				</span>
			</p>
  		</header>	
		<main role="main" class="container page">
			{% block content %}{% endblock %}
		</main>
		<br></br>
		<footer>
			<div class="container">
				<div>©Антон и Максим, копирайтить нельзя</div>
				<div>Голубев Максим: 
					<a href="https://vk.com/maks_mi_19" target="_blank">
						<img src="/static/images/vk.png" width="20px" height=20px></img>
					</a>
					<a href="mailto:golubevmaksim2004@mail.ru" target="_blank">
						<img src="/static/images/mail.png" width="16px" height="16px"></img>
					</a>
				</div>
				<div>Прытов Антон: 
					<a href="https://vk.com/id154898439" target="_blank"><img src="/static/images/vk.png" width="20px" height=20px></img>
					</a>
					<a href="mailto:06032004anton@gmail.com" target="_blank">
						<img src="/static/images/mail.png" width="16px" height="16px"></img>
					</a>
				</div>
			</div>
		</footer>
	</body>
</html>
