<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css')}}>
    	<link rel="stylesheet"
          	  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          	  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          	  crossorigin="anonymous">
        <title>{{ title }}</title>
	</head>
	<body>
		<header>
			<div class="title">Название</div>
			<div class="main-menu">
				<a class="p-2 text-white" href="/">Главная</a>
				<a class="p-2 text-white" href="/catalog">Каталог</a>
				<a class="p-2 text-white" href="/about">О нас</a>
				{% if True %}
					<a class="btn btn-light" href="/login" style="float: right">Регистрация</a>
					
					<a class="btn btn-light" href="/login" style="float: right">Войти</a>
				{% else %}
					<a class="btn btn-light" href="/account" style="float: right">Аккаунт</a>
				{% endif %}
			</div>
  		</header>	
		<main role="main" class="container page">
			{% block content %}{% endblock %}
		</main>
		<br></br>
		<footer>
			<div class="container">
				©Антон и Максим, копирайтить нельзя
			</div>
		</footer>
	</body>
</html>
