{% extends "base.html" %}

{% block content %}
<img src="img/photo.png">
<div>
  <form class="login_form" method="post">
  <div style="float:left;">
    <label for="classSelect">Выберите отдел товара </label>
  </div>
  <div style="float:left;">
    <select class="form-control" id="classSelect" name="sex">
      <option>Не выбрано</option>
      <option {{ man }}>Мужское</option>
      <option {{ woman }}>Женское</option>
      <option {{ child }}>Деткое</option>
    </select>
  </div>
  <div style="float:left;">
    <label for="classSelect">Выберите категорию товара</label>
  </div>
  <div style="float:left;">
    <select class="form-control" id="classSelect" name="category">
      <option>Не выбрано</option>
      <option {{ wear }}>Одежда</option>
      <option {{ shoes }}>Обувь</option>
      <option {{ cosmetics }}>Косметика</option>
      <option {{ accessories }}>Аксессуары</option>
      <option {{ toys }}>Игрушки</option>
      <option {{ other }}>Другое</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" href="/catalog">Применить</button>
  {% if my_category == 'wear'%}
  <div style="float:right;">
    <select class="form-control" id="classSelect" name="size">
      <option>Не выбрано</option>
      <option>2XS</option>
      <option>XS</option>
      <option>M</option>
      <option>L</option>
      <option>XL</option>
      <option>2XL</option>
      <option>3XL</option>
      <option>4XL</option>
    </select>
  </div>
  <div style="float:right;">
    <label for="classSelect">Выберите размер</label>
  </div>
  <div style="clear:both;"></div>
  <button type="submit" class="btn btn-primary" href="/catalog">Применить</button>
  {% endif %}
  {% if my_category == 'shoes'%}
  <div style="float:right;">
    <select class="form-control" id="classSelect" name="size">
      <option>Не выбрано</option>
      <option>6.5US</option>
      <option>7US</option>
      <option>7.5US</option>
      <option>8US</option>
      <option>9.5US</option>
      <option>10US</option>
      <option>10.5US</option>
      <option>11US</option>
      <option>11.5US</option>
    </select>
  </div>
  <div style="float:right;">
    <label for="classSelect">Выберите размер</label>
  </div>
  <div style="clear:both;"></div>
  <button type="submit" class="btn btn-primary" href="/catalog">Применить</button>
  {% endif %}
  {% if my_category == 'accessories'%}
  <div style="float:right;">
    <select class="form-control" id="classSelect" name="size">
      <option>Не выбрано</option>
      <option>10см</option>
      <option>11см</option>
      <option>12см</option>
      <option>13см</option>
      <option>14см</option>
      <option>15см</option>
      <option>16см</option>
      <option>17см</option>
      <option>18см</option>
      <option>19см</option>
      <option>20см</option>
      <option>21см</option>
      <option>22см</option>
      <option>23см</option>
      <option>24см</option>
      <option>25см</option>
      <option>26см</option>
      <option>27см</option>
      <option>28см</option>
      <option>29см</option>
      <option>30см</option>
    </select>
  </div>
  <div style="float:right;">
    <label for="classSelect">Выберите размер</label>
  </div>
  <div style="clear:both;"></div>
  <button type="submit" class="btn btn-primary" href="/catalog">Применить</button>
  {% endif %}
</form>
</div>
  {% for product in products %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ product.name }}</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Описание: {{ product.about }}</li>
              <li>Цена: {{ product.price }}</li>
            </ul>
            <a class="w-100 btn btn-lg btn-primary" href="/catalog/product/{{ product.id }}" role="button">Открыть</a>
          </div>
        </div>
      </div>
  {% endfor %}
{% endblock %}

