{% extends "base.html" %}

{% block content %}
<div class="row row-cols-2 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-body">
            <a class="w-100 btn btn-lg btn-secondary" href="/сreate" role="button">Одежда</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-body">
            <a class="w-100 btn btn-lg btn-secondary" href="/сreate" role="button">Обувь</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-body">
            <a class="w-100 btn btn-lg btn-secondary" href="/сreate" role="button">Аксессуары</a>
          </div>
        </div>
      </div>
    </div>
<div class="row row-cols-2 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-body">
            <a class="w-100 btn btn-lg btn-secondary" href="/сreate" role="button">Косметика</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-body">
            <a class="w-100 btn btn-lg btn-secondary" href="/сreate" role="button">Игрушки</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-body">
            <a class="w-100 btn btn-lg btn-secondary" href="/сreate" role="button">Другое</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
