{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<div><i>{{ boxes[0] }}</i></div><br>
<div>
    {% if error == 'login' %}
        <font color="#ff0000">Пользователь с таким логином уже существует</font>
    {% elif error == 'password' %}
        <font color="#ff0000">Пароли не совпадают</font>
    {% elif error == 'fields' %}
        <font color="#ff0000">Заполнены не все обязательные поля</font>
    {% else %}
        <br>
    {% endif %}
    <form class="login_form" method="post" enctype="multipart/form-data">
    	<input type="surname" class="form-control" id="surname" placeholder="{{ boxes[1] }}" name="surname">
    	<input type="name" class="form-control" id="name" placeholder="{{ boxes[2] }}" name="name">
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="{{ boxes[3] }}"
        name="email">
        <input type="phone_number" class="form-control" id="phone_number" placeholder="{{ boxes[4] }}"
        name="phone_number">
        <input type="address" class="form-control" id="address"  placeholder="{{ boxes[5] }}" name="address">
        <div class="form-group">
        <input type="login" class="form-control" id="login"  placeholder="{{ boxes[6] }}" name="login">
        <div class="form-group">
        <input type="password" class="form-control" id="password"  placeholder="{{ boxes[7] }}" name="password">
        <input type="password" class="form-control" id="password"  placeholder="{{ boxes[8] }}" name="password2">
        <div class="form-group">
            <label for="form-check">{{ boxes[9] }}</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
              <label class="form-check-label" for="male">
                Мужской
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sex" id="female" value="female">
              <label class="form-check-label" for="female">	
                Женский
              </label>
            </div>
        </div>
        <div class="form-group">
            <label for="photo">{{ boxes[10] }}</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
        <button type="submit" class="btn btn-primary" href="/index">{{ boxes[11] }}</button><br>
    </form>
</div>

	
{% endblock %}
